<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="stylesheet" href="{{projectAssets}}/css/custom.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap-responsive.css">
    <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png">
</head>
<body class="yui3-skin-sam">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <h1 class="brand" style="padding: 10px 16px 10px; height: 20px; line-height: 20px; margin-left: 0;">
        {{#if projectLogo}}
	    <img alt="{{projectName}}" src="{{projectLogo}}" style="max-height: 65%;" title="{{projectName}}">
        {{else}}
	    <img alt="{{projectName}}" src="{{projectAssets}}/css/logo.png" style="max-height: 65%;" title="{{projectName}}">
        {{/if}}
            {{projectName}}
        </h1>
	<div class="nav">
            <li class="divider-vertical"></li>
            <li>
                <p class="navbar-text">
                    API Docs for Version: <b>{{projectVersion}}</b>
                </p>
            </li>
        </div>
        <form class="navbar-form pull-right" style="line-height: 40px; height: 40px;">
            <input style="margin-top: 0;" type="text" class="search-query" placeholder="Search for classes/modules..." data-obj='[{{#search classes allModules}}{{/search}}]'>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span3">
	    {{>sidebar}}
        </div>
        <div class="span9">
            {{>options}}
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
                        {{>layout_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{projectAssets}}/vendor/jquery/jquery-1.8.2.min.js"></script>
<script src="{{projectAssets}}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script src="{{projectAssets}}/js/yuidoc-bootstrap.js"></script>
<script>prettyPrint();</script>
</body>
</html>
